<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}} 🤝</h2>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Event:</h3>
  {{!-- this is for  event or project Create page and we called by class on java script  --}}
    <form class="form new-project-form">
      <div class="form-group">
        <label for="project-name">Event Name:</label>
        <input class="form-input" type="text" id="project-name" name="project-name" />
      </div>
      {{!-- this for fundding /Event_Place div on create page  --}}
      <div class="form-group">
        <label for="project-EventPlace">Event Place:</label>
        <input class="form-input" type="text" id="project-EventPlace" name="project-EventPlace" />
      </div>
      <div class="form-group">
        <label for="project-desc">Description:</label>
        <textarea class="form-input" id="project-desc" name="project-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="project-Day-event-start">Event Start Date:</label>
        <input class="form-input" type="date" id="project-Day-event-start" name="project-Day-event-start" />
        {{!-- <label for="project-Time-event-start">Time_event_start:</label> --}}
        {{!-- <input class="form-input" type="time" id="project-Time-event-start" name="project-Time-event-start" /> --}}
      
      </div>
       <div class="form-group">
        <label for="project-Day_event_end">Event End Date:</label>
        <input class="form-input" type="date" id="project-Day-event-end" name="project-Day_event_end" />
        {{!-- <label for="project-Time-event-end">Time_event_end:</label> --}}
        {{!-- <input class="form-input" type="time" id="project-Time-event-end" name="project-Time-event-end" /> --}}
      
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
      {{!-- if want add any form here before Creat btn--}}
      
    </form>
  </div>

  {{#if projects.length}}
  <div class="col-md-6 project-list">
    <h3>Current Events:</h3>

    {{#each projects as |project|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4><a href="/project/{{project.id}}">{{project.name}}</a></h4>
      </div>
      <div class="col-md-4">
        <button class="btn btn-sm btn-danger" data-id="{{project.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
